<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow access to public assets
    RewriteCond %{REQUEST_URI} ^/public/
    RewriteRule .* - [L]

    # If request is NOT an actual file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Send everything to index.php
    RewriteRule ^ index.php [L,QSA]
</IfModule>
